name: Self check

on: [push]

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-18.04, macos-latest, windows-latest]
    steps:
      - name: Setup clojure-lsp
        id: setup-clojure-lsp
        uses: clojure-lsp/setup-clojure-lsp@main
        with:
          clojure-lsp-version: 2022.07.24-18.25.43

      - name: Check if clojure-lsp runs fine
        run: clojure-lsp --version

      - name: Setup clojure-lsp from cache
        id: setup-clojure-lsp-2
        uses: clojure-lsp/setup-clojure-lsp@main
        with:
          clojure-lsp-version: 2022.07.24-18.25.43

      - name: Check if clojure-lsp runs fine from cache
        run: clojure-lsp --version
